.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 1.5rem;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      border-bottom: 1px solid white;
      transition: border-bottom .2s;

      &:hover {
        border-bottom: 1px solid black;
      }
    }
  }
}